* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-row {
    box-shadow: 0 10px 5px #888888;
}

.header-col-left, 
.header-col-right {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(83, 83, 83);
}

.header-col-left {
    /* background-color: lightcoral; */
    min-width: fit-content;
}

.header-col-right {
    /* background-color: lightblue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: fit-content;
}

.header-nav {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.logo {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

/* ============Intro Section Start============ */
.intro_section {
    margin-top: 45px;
}

.intro_section_col {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(83, 83, 83);
}

.intro_section_wrapper {
    max-width: 528px;
}

.intro_section_p {
    margin-top: 20px;
    text-align: left;
}

.btn_wrapper {
    margin-top: 45px;
}

.intro_section_btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(85, 85, 85);
}

.intro_section_btn:hover {
    background-color: rgb(187, 187, 187);
    color: rgb(49, 49, 49);
}
/* ============Intro Section End============ */

/* =============Banner Section Img Start============== */
.banner_img {
    /* background-color: lightblue; */
    margin-top: 45px;
    text-align: center;
}

img {
    width: 100%;
    height: 500px;
  }
/* =============Banner Section Img End============== */
